.content-page {
  &__header {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      @include mobile {
        margin: 3rem 1.5rem;
      }
    }

    &-content {
      grid-column: 2;

      h1 {
        font-size: 2.5rem;
        letter-spacing: -0.02em;
        color: var(--colour-neutral-onyx);
      }

      @include mobile {
        grid-column: unset;
      }
    }
  }

  &__body {
    &-container {
      margin: 3rem 0;
    }
  }
}
