.image {
  &__container {
    @include container;

    grid-template-columns: 1fr 58rem 1fr;

    @include mobile {
      grid-template-columns: 1fr;
      margin: 0 1.5rem;
    }
  }

  &__content {
    grid-column: 2;

    position: relative;
    height: 600px;

    @include mobile {
      grid-column: unset;
    }
  }
}
