.features {
  &__container {
    @include container;

    row-gap: 3rem;
    grid-auto-flow: row;
    margin-top: 7.5rem;
  }

  &__header {
    grid-column: 2;
    display: grid;
    row-gap: 1.5rem;

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;

      color: var(--colour-neutral-onyx);
    }

    p {
      line-height: 1.4;
      max-width: 55%;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__tiles {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }

    li {
      list-style: none;
      display: grid;

      align-items: flex-start;
      grid-template-rows: auto 1fr 1fr;

      padding: 1.5rem 2rem 6rem 2rem;

      @include mobile {
        padding: 2rem;
      }

      &:nth-child(2n) {
        background-color: var(--colour-neutral-cloud);
      }

      svg {
        background: #b7e2f7;
        box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        height: 2.5rem;
        width: 2.5rem;
      }

      img {
        height: 2.5rem;
        width: 2.5rem;
      }

      strong {
        margin-top: 2.5rem;
        margin-bottom: 1rem;

        font-size: 1.5rem;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--colour-neutral-onyx);
      }

      p {
        font-size: 0.75rem;
        line-height: 1.4;
        color: var(--colour-neutral-slate);
      }
    }
  }
}

.pricing {
  &__container {
    @include container;

    row-gap: 3rem;
    grid-auto-flow: row;
    margin-top: 7.5rem;

    background-color: var(--colour-secondary--sky-blue-25);

    padding: 5rem 0;
  }

  &__header {
    grid-column: 2;
    display: grid;
    row-gap: 1.5rem;

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;

      color: var(--colour-neutral-onyx);
    }

    p {
      line-height: 1.4;
      max-width: 55%;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__tiles {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2.5rem;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      list-style: none;
      display: grid;
      align-items: flex-start;
      grid-template-rows: auto auto 1fr;

      svg {
        background: #b7e2f7;
        box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        height: 2.5rem;
        width: 2.5rem;
      }

      img {
        height: 2.5rem;
        width: 2.5rem;
      }

      strong {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        line-height: 1.2;
        color: var(--colour-neutral-onyx);
      }

      p {
        font-size: 0.75rem;
        line-height: 1.4;
        color: var(--colour-neutral-slate);
      }
    }
  }
}
