.navbar {
  background-color: #fff;
  display: grid;
  column-gap: var(--spacing-3);
  grid-template-columns: auto 1fr auto;
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 1.5rem;

  align-items: center;

  @include mobile {
    grid-template-columns: 1fr auto;
    margin: 0;
    border-radius: 0;

    .navbar__burger {
      display: block;
    }
  }

  &__brand {
    padding: var(--spacing-3);

    svg {
      height: 1.75rem;
    }
  }

  &__left {
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--spacing-2);
    font-weight: 600;

    justify-content: start;

    @include mobile {
      display: none;
    }

    a {
      color: var(--colour-text);
      text-decoration: none;
    }
  }

  &__right {
    padding: var(--spacing-2);

    @include mobile {
      display: none;
    }
  }
}

.navbar__burger {
  display: none;

  padding: var(--spacing-3);

  &-toggle {
    border: none;
    background: transparent;
  }

  &-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 10;

    grid-template-rows: auto 1fr auto;
    align-content: flex-start;
    padding-bottom: 6rem;

    &.--active {
      display: grid;
    }
  }

  &-brand {
    svg {
      height: 1.75rem;
    }
  }

  &-header {
    margin: 0 2rem;
    margin-top: calc(4.5rem + 2px);

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &-links {
    display: grid;
    row-gap: 1rem;
    list-style: none;
    margin-top: 4.5rem;
    align-content: flex-start;
    min-height: 0;
    overflow: auto;

    li {
      padding: 0;
      text-align: center;
      a {
        font-size: 1.5rem;
        line-height: 225%;
        font-weight: inherit;
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .button.--primary {
    background-color: var(--colour-primary-green-100);
    color: white;
    text-align: center;
    margin: 1.5rem;
  }
}
