.navbar {
  background-color: #fff;
  display: grid;
  column-gap: var(--spacing-3);
  grid-template-columns: auto 1fr auto;
  border-radius: var(--radius);
  box-shadow: 0px 0px 32px #c8f1ff;

  align-items: center;

  &__brand {
    padding: var(--spacing-3);

    svg {
      height: 1.75rem;
    }
  }

  &__left {
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--spacing-2);
    font-weight: 600;

    justify-content: start;

    a {
      color: var(--colour-text);
      text-decoration: none;
    }
  }

  &__right {
    padding: var(--spacing-2);
  }
}
