.navbar {
  background-color: #fff;
  display: grid;
  column-gap: var(--spacing-3);
  grid-template-columns: auto 1fr auto;
  border-radius: var(--radius);
  box-shadow: 0px 0px 32px #c8f1ff;

  align-items: center;

  &__burger {
    display: none;

    padding: var(--spacing-3);

    &-toggle {
      border: none;
      background: transparent;
    }

    &-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;

      &.--active {
        display: block;
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr auto;
    margin: 0 1rem;

    .navbar__burger {
      display: block;
    }
  }

  &__brand {
    padding: var(--spacing-3);

    svg {
      height: 1.75rem;
    }
  }

  &__left {
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--spacing-2);
    font-weight: 600;

    justify-content: start;

    @include mobile {
      display: none;
    }

    a {
      color: var(--colour-text);
      text-decoration: none;
    }
  }

  &__right {
    padding: var(--spacing-2);

    @include mobile {
      display: none;
    }
  }
}
