.resources {
  &__container {
    @include container;

    row-gap: 3rem;
    grid-auto-flow: row;
    margin-top: 7.5rem;

    background-color: var(--colour-secondary--sky-blue-25);

    padding: 5rem 0;
  }

  &__header {
    grid-column: 2;
    display: grid;
    row-gap: 1.5rem;

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;

      color: var(--colour-neutral-onyx);
    }

    p {
      line-height: 1.4;
      max-width: 55%;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__tiles {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2.5rem;

    @include mobile {
      grid-template-columns: 1fr;
    }

    li {
      list-style: none;
      display: grid;

      background-color: var(--colour-secondary--sky-blue-100);
      border-radius: var(--radius);
      padding: 6.25rem 2rem 2rem 2rem;
      align-items: flex-start;

      grid-template-rows: auto 1fr auto;

      &.--disabled {
        opacity: 0.4;
      }

      strong {
        margin-bottom: 1rem;

        font-size: 1.5rem;

        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--colour-neutral-onyx);
      }

      p {
        margin-bottom: 1.5rem;

        line-height: 1.4;
        color: var(--colour-neutral-slate);
      }
    }
  }
}
