.blog-post {
  &__header {
    &-container {
      @include container;

      margin: 3rem 0;
    }

    &-content {
      display: grid;
      row-gap: 1rem;
      grid-column: 2;
      text-align: center;

      time {
        font-size: 0.75rem;
      }

      @include mobile {
        grid-column: unset;
      }
    }
  }

  &__body {
    &-container {
      margin: 3rem 0;
    }
  }
}
