.blog-post {
  &__header {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      @include mobile {
        margin: 3rem 1.5rem;
      }
    }

    &-content {
      display: grid;
      row-gap: 0.25rem;

      grid-column: 2;

      time {
        font-size: 0.75rem;
      }

      @include mobile {
        grid-column: unset;
      }
    }
  }

  &__body {
    &-container {
      margin: 3rem 0;
    }
  }
}
