.eap-twocol {
  &__container {
    margin: 8rem 0;

    display: grid;
    grid-template-columns: 1fr 26rem 8rem 26rem 1fr;
    align-items: center;

    &.--basic {
      grid-template-columns: 1fr 32rem 8rem 20rem 1fr;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;
      margin-bottom: 1.5rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    p {
      line-height: 1.4;
      color: var(--colour-neutral-slate);
      margin-bottom: 1rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
      margin: 5rem 1.5rem;
      row-gap: 2rem;

      &.--basic {
        grid-template-columns: 1fr;
      }
    }
  }

  &__left {
    grid-column: 2;

    @include mobile {
      grid-column: auto;
    }
  }

  &__right {
    grid-column: 4;

    svg {
      transform: translateX(-70px);
      max-width: 100%;
    }

    @include mobile {
      grid-column: auto;

      svg {
        transform: none;
      }
    }
  }

  &__form {
    &.--flow {
      display: grid;
      row-gap: 1rem;

      @include mobile {
        grid-column: auto;
      }

      align-items: center;
      align-content: center;

      label {
        font-weight: bold;
        display: block;
      }

      .button {
        justify-self: start;
        background-color: var(--colour-primary-green-100);
        color: white;

        @include mobile {
          justify-self: stretch;
        }
      }
    }

    &.--inline {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1rem;
      row-gap: 1rem;
      align-items: start;

      .button {
        justify-self: start;
        background-color: var(--colour-primary-green-100);
        color: white;
      }

      @include mobile {
        grid-template-columns: 1fr;

        .button {
          justify-self: stretch;
        }
      }

      @include tablet {
        grid-template-columns: 1fr auto;
        .button {
          justify-self: start;
        }
      }
    }
  }
}
