.eap-twocol {
  &__container {
    margin: 8rem 0;

    display: grid;
    grid-template-columns: 1fr 26rem 8rem 26rem 1fr;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    grid-column: 2;

    @include mobile {
      grid-column: auto;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.4;
      color: var(--colour-neutral-slate);
      margin-bottom: 1rem;
    }
  }

  &__right {
    grid-column: 4;
    display: grid;
    row-gap: 1rem;

    @include mobile {
      grid-column: auto;
    }

    align-items: center;
    align-content: center;

    label {
      font-weight: bold;
      display: block;
    }

    .button {
      justify-self: start;
      background-color: var(--colour-primary-green-100);
      color: white;
    }
  }
}

.eap-basic {
  &__container {
    margin: 8rem 0;

    display: grid;
    grid-template-columns: 1fr 32rem 1fr;

    @include mobile {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -0.02em;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    & > * {
      grid-column: 2;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    align-items: start;

    .button {
      justify-self: start;
      background-color: var(--colour-primary-green-100);
      color: white;
    }
  }
}
