.footer {
  &__container {
    @include container;

    background-color: var(--colour-neutral-slate);
    color: white;

    padding: 4rem 0;
  }

  &__content {
    grid-column: 2;
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 4rem;
  }

  &__legal {
    background-color: var(--colour-neutral-onyx);
    padding: 1.75rem;
    border-radius: var(--radius);
    font-size: var(--font-size-small);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 1.5rem;
      list-style: none;
    }
  }

  &__links {
    h3 {
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    ul {
      list-style: none;

      li {
        line-height: 2;

        a {
          font-weight: inherit;
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
