.why {
  &-item {
    &__container {
      display: grid;
      grid-template-columns: 1fr repeat(2, calc(1120px / 2)) 1fr;

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &__detail {
      order: 1;
      grid-column: 2;
      padding: 7rem 4rem;

      @include mobile {
        grid-column: auto;
        order: auto;
        padding: 1.5rem;
      }

      strong {
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--colour-neutral-onyx);

        margin-bottom: 1.5rem;
        display: block;

        @include mobile {
          font-size: 2rem;
        }
      }

      p {
        line-height: 1.4;

        margin-bottom: 2rem;
      }

      ul {
        display: grid;
        row-gap: 0.75rem;

        li {
          list-style-type: none;
          display: grid;
          grid-template-columns: auto 1fr;
          column-gap: 0.5rem;
          align-items: center;

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    &__icon {
      order: 2;
      grid-column: 3;
      background-color: var(--colour-secondary--sky-blue-25);
      display: grid;
      align-items: center;

      img {
        transform: translateX(-2rem);
      }

      @include mobile {
        grid-column: auto;
        order: auto;
        padding: 2.5rem 1.5rem;

        img {
          transform: none;
        }
      }
    }

    &__bleed {
      order: 3;
      grid-column: 4;
      background-color: var(--colour-secondary--sky-blue-25);

      @include mobile {
        display: none;
        order: auto;
        grid-column: auto;
      }
    }
  }
}

.why-item__container:nth-child(2n) {
  .why-item__bleed {
    order: 1;
    grid-column: 1;

    @include mobile {
      display: none;
    }
  }
  .why-item__icon {
    order: 2;
    grid-column: 2;

    img {
      transform: translateX(2rem);
    }

    @include mobile {
      order: 2;
      grid-column: auto;

      img {
        transform: none;
      }
    }
  }
  .why-item__detail {
    order: 3;
    grid-column: 3;

    @include mobile {
      order: 1;
      grid-column: auto;
    }
  }
}
