.blog-list {
  &__header {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      @include mobile {
        margin: 3rem 1.5rem;
      }
    }

    &-content {
      grid-column: 2;

      time {
        font-size: 0.75rem;
      }

      @include mobile {
        grid-column: unset;
      }
    }
  }

  &__body {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      ul {
        display: grid;
        row-gap: 2rem;
        grid-column: 2;
        list-style: none;

        li {
          display: grid;
          grid-template-columns: 1fr auto;
          column-gap: 1rem;
          row-gap: 0.5rem;

          a {
            grid-column: 1;
            grid-row: 1;
          }

          time {
            grid-column: 2;
            grid-row: 1;
            font-size: 0.75rem;
          }

          p {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            line-height: 1.4;
          }
        }
      }
    }
  }
}
