.blog-list {
  &__header {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      @include mobile {
        margin: 3rem 1.5rem;
      }
    }

    &-content {
      grid-column: 2;

      h1 {
        font-size: 2.5rem;
        letter-spacing: -0.02em;
        color: var(--colour-neutral-onyx);
      }

      @include mobile {
        grid-column: unset;
      }
    }
  }

  &__body {
    &-container {
      @include container;
      grid-template-columns: 1fr 58rem 1fr;

      margin: 3rem 0;

      @include mobile {
        margin: 3rem 1.5rem;
      }

      ul {
        display: grid;
        row-gap: 2rem;
        grid-column: 2;
        list-style: none;

        @include mobile {
          grid-column: unset;

          row-gap: 1rem;
        }

        li {
          border-bottom: 1px solid var(--colour-neutral-light-slate-25);
          padding-bottom: 2rem;

          @include mobile {
            padding-bottom: 1rem;
          }

          a {
            font-size: 1.5rem;
            line-height: 1.4;
            letter-spacing: -0.02em;
            margin-bottom: 0.5rem;
            color: var(--colour-neutral-onyx);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          p {
            line-height: 1.5;
            margin-bottom: 2rem;

            @include mobile {
              margin-bottom: 1rem;
            }
          }

          time {
            font-weight: bold;
          }
        }
      }
    }
  }

  &-item {
    &__meta {
      color: var(--colour-neutral-light-slate-100);
      font-size: var(--font-size-small);

      display: grid;
      column-gap: 1rem;
      justify-content: start;
      grid-auto-flow: column;
    }
  }
}
