@import "./fonts.css";
@import "./typography.css";

:root {
  --font: Arimo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --colour-text: #5c5c77;

  --font-size-body: 16px;
  --font-size-button: 14px;
  --font-size-heading: 14px;

  --gap: 1rem;

  --border-radius: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);

  font-size: var(--font-size-body);
  color: var(--colour-text);
}

.banner {
  max-width: 1184px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  column-gap: var(--gap);

  padding: var(--gap);
}

@media (max-width: 512px) {
  .banner {
    grid-template-columns: 1fr;
  }
}

.input {
  display: block;
  font-size: inherit;
  color: inherit;
  padding: calc(var(--gap) / 3) calc(var(--gap) / 2);
  margin: 0;
  margin-bottom: calc(var(--gap) / 2);
  border-radius: var(--border-radius);
  border: 1px solid #9797aa;
}

button {
  font-size: var(--font-size-button);
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #eef2f5;
  border: none;

  padding: calc(var(--gap) / 2) var(--gap);
  border-radius: var(--border-radius);
}
