@import "./fonts.css";
@import "./typography.css";
@import "./forms.css";

:root {
  --font: Arimo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --colour-text: #fff;
  --colour-indigo: #0e0e2c;
  --colour-primary: #66dabe;
  --colour-danger: #f12b2c;

  --font-size-body: 16px;
  --font-size-button: 14px;
  --font-size-heading: 14px;

  --gap: 1rem;

  --border-radius: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);

  font-size: var(--font-size-body);
  color: var(--colour-text);
}

html {
  background-image: url("/background.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  padding: 2rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin: 2rem;
}

.header svg {
  margin-bottom: 2rem;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gap);
}

.panel {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 1rem;
}

p.is-danger {
  color: var(--colour-danger);
}

@media (max-width: 480px) {
  html {
    background-image: none;
    background-color: #2b2b5c;
  }

  body {
    padding: 1rem;
  }

  .columns {
    display: block;
    grid-template-columns: 1fr;
  }

  h1,
  .title {
    font-size: 30px;
  }
}

.buttons a:not(:last-child),
.buttons button:not(:last-child) {
  margin-right: var(--gap);
}
