h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
  letter-spacing: -0.01em;
}

h1,
.title {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3,
.subtitle {
  font-size: 24px;
}

.subtitle {
  letter-spacing: initial;
}

p,
li {
  line-height: 160%;
}

.heading {
  font-weight: bold;
  font-size: var(--font-size-heading);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: calc(var(--gap) / 2);
}

p strong,
a {
  color: #66dabe;
}
